<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data[0].city_name %></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <%- include('./navbar.ejs') %>
    <div class="container border my-3 p-3">
        <div class="row g-0 m-1">
            <div class="col-md-6 ">
                <img class="w-100" src="../image/<%=data[0].imgurl%>" alt="">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="mx-2">
                    <h2><%= data[0].city_name %></h2>
                    <p><%- data[0].city_desc %></p>
                    <p>Daily Spending <%= data[0].city_budget %></p>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-md-12">          
                <p><%= data[0].city_long_desc %></p> 
            </div>
        </div>
    </div>
</body>
</html>